*.class
/hybris/*

!/hybris/hybris
/hybris/hybris/*
!/hybris/hybris/bin
/hybris/hybris/bin/*

!/hybris/installer
/hybris/installer/*
!/hybris/installer/recipes
/hybris/installer/recipes/*
!/hybris/installer/recipes/publicsector_es
/hybris/installer/recipes/publicsector_es/*
!/hybris/installer/recipes/publicsector_es/build.gradle

!/hybris/hybris/bin/custom

!/hybris/hybris/config
/hybris/hybris/config/*
!/hybris/hybris/config/local.properties
!/hybris/hybris/config/localextensions.xml

!/hybris/hybris/bin/ext-publicsector
/hybris/hybris/bin/ext-publicsector/*

!/hybris/hybris/bin/ext-publicsector/publicsectorstore
/hybris/hybris/bin/ext-publicsector/publicsectorstore/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src
/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de
/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris
/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform
/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform/publicsectorstore
/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform/publicsectorstore/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform/publicsectorstore/setup
/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform/publicsectorstore/setup/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform/publicsectorstore/setup/PSStoreSystemSetup.java

!/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon
/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/*
!/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/project.properties.template
!/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon
/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon/*
!/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon/resources
/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon/resources/*
!/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon/resources/config
/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon/resources/config/*
!/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon/resources/config/properties-local.xml

!/hybris/hybris/bin/ext-data
/hybris/hybris/bin/ext-data/*

!/hybris/hybris/bin/ext-data/apparelstore
/hybris/hybris/bin/ext-data/apparelstore/*
!/hybris/hybris/bin/ext-data/apparelstore/src
/hybris/hybris/bin/ext-data/apparelstore/src/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de
/hybris/hybris/bin/ext-data/apparelstore/src/de/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris
/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform
/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore
/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore
/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore/setup
/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore/setup/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore/setup/ApparelStoreSystemSetup.java

!/hybris/hybris/bin/ext-data/chinastoreelectronics
/hybris/hybris/bin/ext-data/chinastoreelectronics/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics/setup
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics/setup/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics/setup/ElectronicsCNStoreSystemSetup.java

!/hybris/hybris/bin/ext-data/electronicsstore
/hybris/hybris/bin/ext-data/electronicsstore/*
!/hybris/hybris/bin/ext-data/electronicsstore/src
/hybris/hybris/bin/ext-data/electronicsstore/src/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de
/hybris/hybris/bin/ext-data/electronicsstore/src/de/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris
/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform
/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore
/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore
/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore/setup
/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore/setup/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore/setup/ElectronicsStoreSystemSetup.java

!/hybris/hybris/bin/ext-data/marketplacestore
/hybris/hybris/bin/ext-data/marketplacestore/*
!/hybris/hybris/bin/ext-data/marketplacestore/src
/hybris/hybris/bin/ext-data/marketplacestore/src/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de
/hybris/hybris/bin/ext-data/marketplacestore/src/de/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris
/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform
/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore
/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore
/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore/setup
/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore/setup/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore/setup/MarketplacestoreSystemSetup.java

!/hybris/hybris/bin/ext-data/powertoolsstore
/hybris/hybris/bin/ext-data/powertoolsstore/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src
/hybris/hybris/bin/ext-data/powertoolsstore/src/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de
/hybris/hybris/bin/ext-data/powertoolsstore/src/de/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris
/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform
/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore
/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore
/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore/setup
/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore/setup/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore/setup/PowertoolsStoreSystemSetup.java

!/hybris/hybris/bin/ext-bill
/hybris/hybris/bin/ext-bill/*
!/hybris/hybris/bin/ext-bill/billaddon
/hybris/hybris/bin/ext-bill/billaddon/*
!/hybris/hybris/bin/ext-bill/billaddon/project.properties.template

!/hybris/hybris/bin/ext-relationship
/hybris/hybris/bin/ext-relationship/*
!/hybris/hybris/bin/ext-relationship/relationshipaddon
/hybris/hybris/bin/ext-relationship/relationshipaddon/*
!/hybris/hybris/bin/ext-relationship/relationshipaddon/project.properties.template
hybris/hybris/bin/custom/sdh/sdhstorefront/web/addontestsrc/sdhbillsaddon/de/hybris/platform/sdhbillsaddon/controllers/pages/PSBillControllerTest.java
