*.class
/hybris/*

!/hybris/hybris
/hybris/hybris/*
!/hybris/hybris/bin
/hybris/hybris/bin/*

!/hybris/installer
/hybris/installer/*
!/hybris/installer/recipes
/hybris/installer/recipes/*
!/hybris/installer/recipes/publicsector_es
/hybris/installer/recipes/publicsector_es/*
!/hybris/installer/recipes/publicsector_es/build.gradle

!/hybris/hybris/bin/custom

!/hybris/hybris/config
/hybris/hybris/config/*
!/hybris/hybris/config/local.properties
!/hybris/hybris/config/localextensions.xml

!/hybris/hybris/bin/ext-publicsector
/hybris/hybris/bin/ext-publicsector/*

!/hybris/hybris/bin/ext-publicsector/publicsectorstore
/hybris/hybris/bin/ext-publicsector/publicsectorstore/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src
/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de
/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris
/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform
/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform/publicsectorstore
/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform/publicsectorstore/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform/publicsectorstore/setup
/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform/publicsectorstore/setup/*
!/hybris/hybris/bin/ext-publicsector/publicsectorstore/src/de/hybris/platform/publicsectorstore/setup/PSStoreSystemSetup.java

!/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon
/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/*
!/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/project.properties.template
!/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon
/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon/*
!/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon/resources
/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon/resources/*
!/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon/resources/config
/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon/resources/config/*
!/hybris/hybris/bin/ext-publicsector/publicsectoracceleratoraddon/orbeon/resources/config/properties-local.xml

!/hybris/hybris/bin/ext-data
/hybris/hybris/bin/ext-data/*

!/hybris/hybris/bin/ext-data/apparelstore
/hybris/hybris/bin/ext-data/apparelstore/*
!/hybris/hybris/bin/ext-data/apparelstore/src
/hybris/hybris/bin/ext-data/apparelstore/src/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de
/hybris/hybris/bin/ext-data/apparelstore/src/de/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris
/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform
/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore
/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore
/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore/setup
/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore/setup/*
!/hybris/hybris/bin/ext-data/apparelstore/src/de/hybris/platform/apparelstore/setup/ApparelStoreSystemSetup.java

!/hybris/hybris/bin/ext-data/chinastoreelectronics
/hybris/hybris/bin/ext-data/chinastoreelectronics/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics/setup
/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics/setup/*
!/hybris/hybris/bin/ext-data/chinastoreelectronics/src/de/hybris/platform/chinastoreelectronics/setup/ElectronicsCNStoreSystemSetup.java

!/hybris/hybris/bin/ext-data/electronicsstore
/hybris/hybris/bin/ext-data/electronicsstore/*
!/hybris/hybris/bin/ext-data/electronicsstore/src
/hybris/hybris/bin/ext-data/electronicsstore/src/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de
/hybris/hybris/bin/ext-data/electronicsstore/src/de/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris
/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform
/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore
/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore
/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore/setup
/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore/setup/*
!/hybris/hybris/bin/ext-data/electronicsstore/src/de/hybris/platform/electronicsstore/setup/ElectronicsStoreSystemSetup.java

!/hybris/hybris/bin/ext-data/marketplacestore
/hybris/hybris/bin/ext-data/marketplacestore/*
!/hybris/hybris/bin/ext-data/marketplacestore/src
/hybris/hybris/bin/ext-data/marketplacestore/src/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de
/hybris/hybris/bin/ext-data/marketplacestore/src/de/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris
/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform
/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore
/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore
/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore/setup
/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore/setup/*
!/hybris/hybris/bin/ext-data/marketplacestore/src/de/hybris/platform/marketplacestore/setup/MarketplacestoreSystemSetup.java

!/hybris/hybris/bin/ext-data/powertoolsstore
/hybris/hybris/bin/ext-data/powertoolsstore/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src
/hybris/hybris/bin/ext-data/powertoolsstore/src/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de
/hybris/hybris/bin/ext-data/powertoolsstore/src/de/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris
/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform
/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore
/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore
/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore/setup
/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore/setup/*
!/hybris/hybris/bin/ext-data/powertoolsstore/src/de/hybris/platform/powertoolsstore/setup/PowertoolsStoreSystemSetup.java

!/hybris/hybris/bin/ext-bill
/hybris/hybris/bin/ext-bill/*
!/hybris/hybris/bin/ext-bill/billaddon
/hybris/hybris/bin/ext-bill/billaddon/*
!/hybris/hybris/bin/ext-bill/billaddon/project.properties.template

!/hybris/hybris/bin/ext-relationship
/hybris/hybris/bin/ext-relationship/*
!/hybris/hybris/bin/ext-relationship/relationshipaddon
/hybris/hybris/bin/ext-relationship/relationshipaddon/*
!/hybris/hybris/bin/ext-relationship/relationshipaddon/project.properties.template
hybris/hybris/bin/custom/sdh/sdhstorefront/web/addontestsrc/sdhbillsaddon/de/hybris/platform/sdhbillsaddon/controllers/pages/PSBillControllerTest.java
hybris/hybris/bin/custom/sdh/sdhstorefront/resources/beans.xsd
hybris/hybris/bin/custom/sdh/sdhrelationshipsaddon/resources/beans.xsd
hybris/hybris/bin/custom/sdh/sdhpsaddon/resources/items.xsd
hybris/hybris/bin/custom/sdh/sdhpsaddon/resources/beans.xsd
hybris/hybris/bin/custom/sdh/sdhfacades/resources/beans.xsd
hybris/hybris/bin/custom/sdh/sdhcore/resources/items.xsd
hybris/hybris/bin/custom/sdh/sdhbillsaddon/resources/beans.xsd

hybris/hybris/bin/custom/sdh/sdhcore/gensrc/
hybris/hybris/bin/custom/sdh/sdhpsaddon/gensrc/
hybris/hybris/bin/custom/sdh/sdhstorefront/web/addonsrc/
hybris/hybris/bin/custom/sdh/sdhstorefront/web/commonwebsrc/acceleratorstorefrontcommons/
hybris/hybris/bin/custom/sdh/sdhstorefront/web/webroot/_ui/addons/
hybris/hybris/bin/custom/sdh/sdhstorefront/web/webroot/WEB-INF/_ui-src/addons/
hybris/hybris/bin/custom/sdh/sdhstorefront/web/webroot/WEB-INF/messages/addons/
hybris/hybris/bin/custom/sdh/sdhstorefront/web/webroot/WEB-INF/tags/addons/
hybris/hybris/bin/custom/sdh/sdhstorefront/web/webroot/WEB-INF/views/addons/
hybris/hybris/bin/custom/sdh/sdhbillsaddon/gensrc/
hybris/hybris/bin/custom/sdh/sdhfacades/gensrc/
hybris/hybris/bin/custom/sdh/sdhrelationshipsaddon/gensrc/
hybris/hybris/bin/custom/sdh/sdhstorefront/web/webroot/WEB-INF/tld/addons/
hybris/hybris/bin/custom/sdh/sdhstorefront/resources/wro_addons.xml
hybris/hybris/bin/custom/sdh/sdhstorefront/resources/sdhstorefront/sdhstorefront-testclasses.xml
hybris/hybris/bin/custom/sdh/sdhstorefront/platformhome.properties
hybris/hybris/bin/custom/sdh/sdhstorefront/extensioninfo.xsd
hybris/hybris/bin/custom/sdh/sdhstorefront/build.xml
hybris/hybris/bin/custom/sdh/sdhrelationshipsaddon/resources/sdhrelationshipsaddon/sdhrelationshipsaddon-testclasses.xml
hybris/hybris/bin/custom/sdh/sdhrelationshipsaddon/resources-lang/touch_impexgen
hybris/hybris/bin/custom/sdh/sdhrelationshipsaddon/platformhome.properties
hybris/hybris/bin/custom/sdh/sdhrelationshipsaddon/extensioninfo.xsd
hybris/hybris/bin/custom/sdh/sdhrelationshipsaddon/build.xml
hybris/hybris/bin/custom/sdh/sdhpsaddon/resources/sdhpsaddon/sdhpsaddon-testclasses.xml
hybris/hybris/bin/custom/sdh/sdhpsaddon/resources-lang/touch_impexgen
hybris/hybris/bin/custom/sdh/sdhpsaddon/platformhome.properties
hybris/hybris/bin/custom/sdh/sdhpsaddon/extensioninfo.xsd
hybris/hybris/bin/custom/sdh/sdhpsaddon/build.xml
hybris/hybris/bin/custom/sdh/sdhinitialdata/resources/sdhinitialdata/sdhinitialdata-testclasses.xml
hybris/hybris/bin/custom/sdh/sdhinitialdata/platformhome.properties
hybris/hybris/bin/custom/sdh/sdhinitialdata/gensrc/de/hybris/sdh/initialdata/constants/GeneratedSdhInitialDataConstants.java
hybris/hybris/bin/custom/sdh/sdhinitialdata/extensioninfo.xsd
hybris/hybris/bin/custom/sdh/sdhinitialdata/build.xml
hybris/hybris/bin/custom/sdh/sdhfacades/resources/sdhfacades/sdhfacades-testclasses.xml
hybris/hybris/bin/custom/sdh/sdhfacades/platformhome.properties
hybris/hybris/bin/custom/sdh/sdhfacades/extensioninfo.xsd
hybris/hybris/bin/custom/sdh/sdhfacades/build.xml
hybris/hybris/bin/custom/sdh/sdhcore/resources/sdhcore/sdhcore-testclasses.xml
hybris/hybris/bin/custom/sdh/sdhcore/platformhome.properties
hybris/hybris/bin/custom/sdh/sdhcore/extensioninfo.xsd
hybris/hybris/bin/custom/sdh/sdhcore/build.xml
hybris/hybris/bin/custom/sdh/sdhbillsaddon/resources/sdhbillsaddon/sdhbillsaddon-testclasses.xml
hybris/hybris/bin/custom/sdh/sdhbillsaddon/resources-lang/touch_impexgen
hybris/hybris/bin/custom/sdh/sdhbillsaddon/platformhome.properties
hybris/hybris/bin/custom/sdh/sdhbillsaddon/extensioninfo.xsd
hybris/hybris/bin/custom/sdh/sdhbillsaddon/build.xml
hybris/hybris/bin/custom/sdh/sdhstorefront/web/webroot/_ui/responsive/common/js/datepicker-es.js
hybris/hybris/bin/custom/sdh/sdhstorefront/web/webroot/_ui/responsive/common/js/acc.register.js
/sdh-colombia/
/sdh-colombia/
hybris/hybris/bin/custom/sdh/sdhcore/src/de/hybris/sdh/core/jalo/SDHRol.java
hybris/hybris/bin/custom/sdh/sdhcore/src/de/hybris/sdh/core/jalo/SDHPhone.java
hybris/hybris/bin/custom/sdh/sdhcore/src/de/hybris/sdh/core/jalo/SDHGasTax.java
hybris/hybris/bin/custom/sdh/sdhcore/src/de/hybris/sdh/core/jalo/SDHAgent.java
hybris/hybris/bin/custom/sdh/sdhcore/src/de/hybris/sdh/core/jalo/SDHAddress.java
hybris/hybris/bin/custom/sdh/sdhcore/src/de/hybris/sdh/core/jalo/SDHSocialNetwork.java
hybris/hybris/bin/custom/sdh/sdhcore/src/de/hybris/sdh/core/jalo/SDHExteriorPublicityTax.java
