body {
    background: #eee !important;
}

.login-section .newLoggin{
	width: 380px;
    margin: 2em auto;
    padding: 2em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 15px;
}
.main-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #FFAB00 !important;
}

.prefooter {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 20px 230px;
    margin-bottom: 21px;
    padding: 2px;
    min-height: 1%;
    background-color: #fff;
    border: 2px solid #E8F0FB;
    border-radius: 13px;
    margin-left: -85% !important;
margin-right: -85% !important;
}

.main-footer .copyright{
position: relative;
    z-index: 10;
    border-top: 1px solid #fff;
    background-color: #36c;
height:100% !important;
text-align: center;
}

.prefooter h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #a80521 !important;
}

.prefooter h3 {
//margin-top: 18px;
    font-size: 18px;
    line-height: 27;
    font-weight: 600;
    color: #a80521;
}

.footerimg{
 width: auto !important;
    max-height: 58px !important;
border-right: 2px solid #E8F0FB;
padding-right: 25% !important;
}

.menu-footer a {
    color: #a80521;
margin: 5px !important;
}
.main-footer .copyright .container {
    background: #36c;
}

.main-footer .copyright a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
    margin-right: 15px;
}

img .encabezado{
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

.footerimg_gov{
 margin-top: 10% !important;
}

.menu-footer {
    grid-column: 1/4;
    margin-top: 33px;
    display: inline-flex;
}

.footer-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #ffab00;
}

.login-section {
    margin-left: 0px !important;
}