header {

    background: white !important;
}

.navigation__overflow {
    background: #F9F9F9;
}

.main-header .navigation--bottom {
    background: #F9F9F9;
}


.breadcrumb-section {
    background: #F9F9F9;
}

.breadcrumb-section .breadcrumb {
    background: #F9F9F9;
}

.login-section .headline, .register-section .headline, .checkout-login .headline {
       color: #104d83;
}

.navigation--button .nav__link:hover{
	backgrond: #F9F9F9;
}

.btn-primary {
    background-color: #F9F9F9;
    border-color: #F9F9F9;
    color: #000000;
}

.btn-primary:hover {
    background-color: #F9F9F9;
    border-color: #F9F9F9;
    color: #000000;
}

.btn-primary:focus {
    background-color: #F9F9F9;
    border-color: #F9F9F9;
    color: #000000;
}

.footer__top {
    border-bottom: 1px solid #F9F9F9;
}

.btn:hover, .btn:active:hover, .btn.active:hover {
    outline: 2px solid transparent;
}

.main-footer .copyright .pop-over-toggle {
        background-color: #F9F9F9;
    border-color: #F9F9F9;
    border: 2px solid #F9F9F9;
}


.navigation--bottom .nav__links--primary .sub__navigation {
    background: #F9F9F9;
}

.navigation--bottom
.nav__link:hover{
	background:#F9F9F9;
}

.btn-primary:active:hover, .btn-primary:active:focus {
 
    background: #F9F9F9;
}


.navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list li:hover {
    background: #F9F9F9 !important;
}

.navigation--bottom .nav__links--primary .sub-navigation-section ul.sub-navigation-list > li > a:hover, .navigation--bottom .nav__links--primary .sub-navigation-section ul.sub-navigation-list > li > a:focus {
    background: #F9F9F9;
}

.breadcrumb-section .breadcrumb a {
    color: #000000;
}

.navigation--bottom .nav__links--products li a {
    color: #000000;
}



@media (min-width: 1024px){
.navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list a {
    color: #000000;
}
}

.navigation--bottom .show-sub .nav__link a:after {
    border-bottom: 10px solid #f9f9f9;
}

.main-footer .copyright .pop-over-toggle {
    color: #000;
}

.container_new {
    padding-top: 17%;
}

.modal-dialog .modal-header, #cboxContent .modal-header, .modal-dialog #cboxTitle, #cboxContent #cboxTitle {
    background-color: #F9F9F9;
}

.form-group .checkbox .checkedlabel {
  background: url(../../../responsive/common/images/checkbox_tick.png) no-repeat scroll 0 0;
  border: 1px solid #cccccc;
}