//
// Load core variables and mixins
// --------------------------------------------------

@import "../../../../../../responsive/lib/ybase-0.1.0/less/ybase.less";
@import "../../../../../../responsive/lib/ybase-0.1.0/less/addons.less";
@import "variables.less";




.navigation--top .nav__left .simple-banner-component img {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto; 
  margin-right: auto;
  width: 90%;
  
}


.nav__links--account {
  display: inline-block;
  font-family: Helvetica;
  font-size: 12px;
  font-weight:bold;
  color: #0000ff;
  font-weight: 400;
  text-transform: uppercase;
}

.navigation--bottom .nav__links--products li a {
  font-family: Helvetica;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;  
}

.navigation--bottom {
  background-color: #00ccff;
}


.navigation--bottom ul.nav__links--products > li > span > a:hover,
.navigation--bottom ul.nav__links--products > li > span > a:focus {
    background: #00ccff;
    text-decoration: none;
}

.navigation--bottom .show-sub .nav__link a:after {
  border-bottom: 10px solid #3399ff;

}

.navigation--bottom .nav__links--primary .sub__navigation {
    display: none;
    background: #3399ff;
}




.navigation--bottom .nav__links--primary .sub-navigation-section ul.sub-navigation-list > li > a:hover,
.navigation--bottom .nav__links--primary .sub-navigation-section ul.sub-navigation-list > li > a:focus {
  background: #3399ff;
  text-decoration: none;
}




.main-footer .footer__top .footer__nav--container .footer__nav--links a {
  color: #AEB6BF;
}


.main-footer {
  background: #ffffff;  
}

.main-footer .links {
   background: #ffffff;
}

.main-footer .copyright {
  background: #ffffff;
}

.main-footer .copyright .copyright-text {
  color: #AEB6BF;
  background: #ffffff;
}

.main-footer .copyright .container {
  background: #ffffff;
}


.footer__right .footer__dropdown .form-control {
  background: #ffffff;
  color: #AEB6BF;
}

.breadcrumb-section {
  background: #92d4f5;
}

.breadcrumb-section .breadcrumb {
  background: #92d4f5;
}


.btn-primary {
  background-color: #56ace3;
  border-color: #56ace3;
}


.btn-primary:hover {
  color: #000000;
  background-color: #92d4f5;
  border-color: #92d4f5;
}

.btn-primary.focus {
  color: #000000;
  background-color: #92d4f5;
  border-color: #92d4f5;
}
.btn-primary:hover {
  color: #000000;
  background-color: #92d4f5;
  border-color: #92d4f5;
}

.p {
  border-width:0px;
  position:absolute;
  font-family:'Helvetica Negrita', 'Helvetica Normal', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

.avisoheadline {
  border-width:0px;
  position:inherit;
  width:1005px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  vertical-align:middle;
}

.avisobody{
  border-width:0px;
  position:inherit;
  width:1005px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  margin: 0px 0 0px;
}

.cintillo{
  border-width:0px;
  position:inherit;
  width:1013px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
   border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Negrita Cursiva', 'Helvetica Normal', 'Helvetica';
  font-weight:700;
  font-style:italic;
  font-size:12px;
  margin-bottom: 10px;
}

.inputdropdown{
  position:absolute;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  border-width: 1px;
  border-style: solid;
}

.avisos{
  font-size:9px !important;
}

.vehiculos{
  font-size:10px !important;
}

.inputtextnew{
  position:inherit;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  vertical-align:text-bottom;
  min-height: 0px;
}

.inputtextnewmd{
  position:inherit;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  vertical-align:text-bottom;
  min-height: 0px;
  width: 100%;
}

.inputlabelnew{
  margin-right: 5px;
  position:absolute;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:right;
  vertical-align: middle;
}

.boton{
  font-size:14px;
  font-family:'Helvetica Normal', 'Helvetica';
  font-color:black;
  height: 25px;
  text-align: center;
  margin-top: 6px;
  -webkit-appearance: button;
  border-radius: 5px;
}

.form-control-gasolina {
  display: block;
  width: 200px;
  height: 47px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000000;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



div.dataTables_length {
    float: left;
}
 
div.dataTables_filter {
    float: right;
}
 
div.dataTables_info {
    float: left;
}
 
div.dataTables_paginate {
    float: right;
}
 
div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info {
    padding: 6px;
}

.breadcrumb-section .breadcrumb {
  text-transform: capitalize;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}


input[type="search"] {
 
   	min-height: 8px !important;
   
   }

.main-footer .footer__top .footer__nav--container .footer__nav--links a {
  color: #000000;
  }

.main-footer {
  font-family: 'Helvetica', 'Arial', sans-serif;

}

.main-footer .links {
  padding-left: 0px;
}

.col-md-8 {
    width: 86.66666667%;
  }
  
.col-md-offset-2 {
    margin-left: 6.66666667%;
  }  


/*
## ajuste de estilos cuerpo general pagina dev-maria
********************************************************************/

thead {
    background-color: rgb(235, 235, 228) !important;
    text-color: #ffffff !important;
}

td, th {
    border-top: solid 1px #000000 !important;
    border-bottom: solid 1px #000000 !important;
    border-right: solid 1px #000000 !important;
    border-left: solid 1px #000000 !important;
    vertical-align: inherit !important;
}

.labeltabletd {
    text-align: center !important;
    color: #1b1464 !important;
    text-transform: none !important;
}

.inputcodciuu, .tablenumiden, .tabledomatri, .tablecodpost {
    width: 80px !important;
    text-align: center !important;
}

.tablefechas, .tableident  {
    width: 75px !important;
    text-align: center !important;
}

.tablenombre, .tabledenomi  {
    width: 400px !important;
}

.tablecantperoc  {
    width: 55px !important;
    text-align: center !important;
}

.tabletiprela {
    width: 300px !important;
}

.tableamplia{
    width: auto !important;
}

.container {
    margin-right: 1px !important;
    margin-left: 1px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/*
## ajuste de estilos menu pagina dev-maria
********************************************************************/

.main-header .md-secondary-navigation ul,
.main-header .md-secondary-navigation ul li {
  text-transform: none !important;
  }

.breadcrumb-section {
    padding-left: 2px;
}

.main-header .md-secondary-navigation a {
    text-transform: none;
}

.navigation--bottom .nav__links--products li a {
    padding: 10px 15px;
    text-aling: center !important;
}
.navigation--bottom .nav__links--primary .sub__navigation {
    width: auto;
	}
	
	.breadcrumb-section {
	padding-left: 2px;
}

.main-header .md-secondary-navigation a {
	text-transform: none;
}

.navigation--bottom .nav__links--products li a {
	padding: 10px 15px;
	text-aling: center !important;
}

li {
	text-align: -webkit-center;
}

.navigation--bottom .nav__links--primary .sub__navigation {
	width: auto;
}

.navigation--middle .nav__right {
  padding-right: 6%;
}

.main-header .md-secondary-navigation li span.logged_in {
    color: black;
}
.main-header .md-secondary-navigation ul:last-child a, .main-header .md-secondary-navigation ul li:last-child a {
    color: black;
}
.main-header .md-secondary-navigation ul:last-child a,
.main-header .md-secondary-navigation ul li:last-child a {
  color: black;
}

.main-header .md-secondary-navigation a:hover, .main-header .md-secondary-navigation a:focus, .main-header .md-secondary-navigation a:active {
    color: #ffffff;
    background: #66cdfc;
}

header{
	marging-bottom: 5px;
}
.form-group {
    margin-bottom: 10px;
}

.labeltabletd {
    width: 100%;
}

/* #cambios de estilo 13/05/2019 dev-maria */

.navigation--bottom .nav__links--products {
	max-width: 90%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	display: flex;
}

.navigation__overflow {
	max-width: 90%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.navigation--bottom {
	max-width: 86%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.navigation--bottom .nav__link {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}

.navigation--bottom .nav__links--products li a {
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
}

.navigation--bottom .nav__links--products li a {
    font-size: 14px;
}

/* Ajuste de bread-crum, menú */
navigation--bottom .nav__links--products {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: 5px;
	margin-right: 0px;
	width: 200%;
	display: flex;
	justify-content: space-between;
}

.navigation__overflow {
	max-width: 100%;
	height: auto;
	display: block;
	/* margin-left: 36px; */
	/* margin-right: 35px; */
	width: 100%;
	justify-content: space-between;
}

media (min-width: 1024px ) .navigation--bottom .nav__links--primary .sub-navigation-section
	{
	width: 180px;
}

.navigation--bottom .nav__link {
	width: 140px;
}

.container {
	max-width: 90%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 86%;
	padding: 0 !important;
	margin-right: 1px !important;
	margin-left: 95px !important;
	padding-left: 1px !important;
	padding-right: 10px !important;
}

.navigation--bottom .nav__links--products {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: -15px;
	margin-right: -15px;
	width: 100%;
	display: flex;
	/*     justify-content: space-between; */
	justify-content: center;
}

.navigation--bottom .nav__links--products {
	padding-left: 25px;
	padding-right: 5px;
	margin-bottom: 0;
}

.navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list li
	{
	width: 119px;
}

.breadcrumb-section{
	text-transform: none;
	max-width: 90%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 86%;
	border-top: 1px transparen #ffffff;
}

ul.nav__links li {

    margin-right: inherit;
}

.login-section .headline h2, .register-section .headline h2, .checkout-login .headline h2 {
    margin-top: 0px;
	margin-bottom: 0px;
}