//
// Load core variables and mixins
// --------------------------------------------------

@import "../../../../../../responsive/lib/ybase-0.1.0/less/ybase.less";
@import "../../../../../../responsive/lib/ybase-0.1.0/less/addons.less";
@import "variables.less";




.navigation--top .nav__left .simple-banner-component img {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto; 
  margin-right: auto;
  width: 90%;
  
}


.nav__links--account {
  display: inline-block;
  font-family: Helvetica;
  font-size: 12px;
  font-weight:bold;
  color: #0000ff;
  font-weight: 400;
  text-transform: uppercase;
}

.navigation--bottom .nav__links--products li a {
  font-family: Helvetica;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;  
}

.navigation--bottom {
  background-color: #00ccff;
}


.navigation--bottom ul.nav__links--products > li > span > a:hover,
.navigation--bottom ul.nav__links--products > li > span > a:focus {
    background: #00ccff;
    text-decoration: none;
}

.navigation--bottom .show-sub .nav__link a:after {
  border-bottom: 10px solid #3399ff;

}

.navigation--bottom .nav__links--primary .sub__navigation {
    display: none;
    background: #3399ff;
}




.navigation--bottom .nav__links--primary .sub-navigation-section ul.sub-navigation-list > li > a:hover,
.navigation--bottom .nav__links--primary .sub-navigation-section ul.sub-navigation-list > li > a:focus {
  background: #3399ff;
  text-decoration: none;
}




.main-footer .footer__top .footer__nav--container .footer__nav--links a {
  color: #AEB6BF;
}


.main-footer {
  background: #ffffff;  
}

.main-footer .links {
   background: #ffffff;
}

.main-footer .copyright {
  background: #ffffff;
}

.main-footer .copyright .copyright-text {
  color: #AEB6BF;
  background: #ffffff;
}

.main-footer .copyright .container {
  background: #ffffff;
}


.footer__right .footer__dropdown .form-control {
  background: #ffffff;
  color: #AEB6BF;
}

.breadcrumb-section {
  background: #92d4f5;
}

.breadcrumb-section .breadcrumb {
  background: #92d4f5;
}


.btn-primary {
  background-color: #56ace3;
  border-color: #56ace3;
}


.btn-primary:hover {
  color: #000000;
  background-color: #92d4f5;
  border-color: #92d4f5;
}

.btn-primary.focus {
  color: #000000;
  background-color: #92d4f5;
  border-color: #92d4f5;
}
.btn-primary:hover {
  color: #000000;
  background-color: #92d4f5;
  border-color: #92d4f5;
}

.p {
  border-width:0px;
  position:absolute;
  font-family:'Helvetica Negrita', 'Helvetica Normal', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

.avisoheadline {
  border-width:0px;
  position:inherit;
  width:1005px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  vertical-align:middle;
}

.avisobody{
  border-width:0px;
  position:inherit;
  width:1005px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  margin: 0px 0 0px;
}

.cintillo{
  border-width:0px;
  position:inherit;
  width:1013px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
   border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Negrita Cursiva', 'Helvetica Normal', 'Helvetica';
  font-weight:700;
  font-style:italic;
  font-size:12px;
  margin-bottom: 10px;
}

.inputdropdown{
  position:absolute;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  border-width: 1px;
  border-style: solid;
}

.avisos{
  font-size:9px !important;
}

.vehiculos{
  font-size:10px !important;
}

.inputtextnew{
  position:inherit;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  vertical-align:text-bottom;
  min-height: 0px;
}

.inputtextnewmd{
  position:inherit;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  vertical-align:text-bottom;
  min-height: 0px;
  width: 100%;
}

.inputlabelnew{
  margin-right: 5px;
  position:absolute;
  font-family:'Helvetica Normal', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:right;
  vertical-align: middle;
}

.boton{
  font-size:14px;
  font-family:'Helvetica Normal', 'Helvetica';
  font-color:black;
  height: 25px;
  text-align: center;
  margin-top: 6px;
  -webkit-appearance: button;
  border-radius: 5px;
}

.form-control-gasolina {
  display: block;
  width: 200px;
  height: 47px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000000;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



div.dataTables_length {
    float: left;
}
 
div.dataTables_filter {
    float: right;
}
 
div.dataTables_info {
    float: left;
}
 
div.dataTables_paginate {
    float: right;
}
 
div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info {
    padding: 6px;
}

.breadcrumb-section .breadcrumb {
  text-transform: capitalize;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}


input[type="search"] {
 
   	min-height: 8px !important;
   
   }

.main-footer .footer__top .footer__nav--container .footer__nav--links a {
  color: #000000;
  }

.main-footer {
  font-family: 'Helvetica', 'Arial', sans-serif;

}

.main-footer .links {
  padding-left: 0px;
}

.col-md-8 {
    width: 86.66666667%;
  }
  
.col-md-offset-2 {
    margin-left: 6.66666667%;
  }  

/*nueva estructura*/
.cardsinfondo {
  background: none;
}
.miritmenu {
  font-size: 14 px !important;
  margin: 0px;
}
.cardmirit {
  background: none;
  font-size: 14 px !important;
  margin: 0px;
  padding-bottom: 0px;
}
.cardtitle {
  border: 1px solid #156ab5;
}
.miritmenu:hover,
.miritmenu:active:hover {
  outline: transparent;
}
.miritmenu:focus,
.miritmenu:active:focus,
.miritmenu.active:focus,
.miritmenu.focus,
.miritmenu:active.focus,
.miritmenu.active.focus {
  outline: transparent;
}
.ajustemargen {
  margin-top: 46px !important;
}
/* se ajusta la seccion de la cabecera que contiene el datos del usuario */
.navigation--bottom .nav__link {
  width: 110px;
  /* width: 4 em; */
  text-align: center;
}
.navigation--middle {
  padding-left: 30px;
  padding-right: 30px;
}
.navigation--middle .nav__right {
  width: 95%;
  margin-right: 25px;
  height: 10%;
  height: 25px;
  padding: 0px;
}
.main-header .md-secondary-navigation ul,
.main-header .md-secondary-navigation ul li {
  padding: 0px;
}
.navigation--bottom .nav__links--primary .sub-navigation-section ul.sub-navigation-list > li > a:hover,
.navigation--bottom .nav__links--primary .sub-navigation-section ul.sub-navigation-list > li > a:focus {
  background: #3399ff;
  text-decoration: none;
}
.main-header .md-secondary-navigation ul,
.main-header .md-secondary-navigation ul li {
  font-weight: 600;
  display: flex;
  font-size: 12px;
  text-transform: none;
  color: #000;
  border: none;
}
ul.nav__links li {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0px;
}
.navigation__overflow {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.navigation--bottom {
  max-width: 88%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.navigation--bottom .nav__links--products {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
  display: flex;
  /*justify-content: center;*/
  padding-left: 25px;
  padding-right: 5px;
  margin-bottom: 0;
}
.navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list li {
  width: 119px;
  text-align: center;
}
.breadcrumb {
  height: 15px;
  padding: 0px;
}
.breadcrumb-section {
  text-transform: none;
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 88%;
  border-top: 1px transparen #ffffff;
}
/* terminan los ajustes de la sección del menú */
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin-bottom: 1px;
}
/* cambios para el container */
.container {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding: 0 !important;
}
.container_menu {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding: 0 !important;
  margin-top: -110px;
}
.container_new {
  max-width: 90%;
  height: auto;
  display: block;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 21%;
}
.container_new_page {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding: 0 !important;
  margin-top: -27px;
}
.login-section {
  padding-top: 0px;
  margin-top: -50px;
}
.delededucciones {
  pointer-events: none;
  position: absolute;
  width: 85%;
  height: auto;
  margin-bottom: 80px !important;
  max-width: 90%;
  margin-top: 10px;
}
thead {
  background-color: #ebebe4 !important;
  text-color: #ffffff !important;
}
td,
th {
  border-top: solid 1px #000000 !important;
  border-bottom: solid 1px #000000 !important;
  border-right: solid 1px #000000 !important;
  border-left: solid 1px #000000 !important;
  vertical-align: inherit !important;
}
.labeltabletd {
  text-align: center !important;
  color: #1b1464 !important;
  text-transform: none !important;
}
.inputcodciuu,
.tablenumiden,
.tabledomatri,
.tablecodpost,
.tabledoobli {
  width: 85px !important;
  text-align: center !important;
}
.tablefechas,
.tableident,
.tableangrav {
width: 85px !important;
  text-align: center !important;
}
.tablenombre,
.tabledenomi {
  width: 300px !important;
}
.tablenombrecorto {
  width: 200px !important;
}
.tablecantperoc {
  width: 55px !important;
  text-align: center !important;
}
.tabletiprela {
  width: 130px !important;
}
.tableamplia {
  width: auto !important;
}
.form-group .newalto,
.newalto {
  height: 38px !important;
  min-height: 30px !important;
  width: 75%;
  text-align: left !important;
  padding: 0px;
}
.form-group .new_alto,
.new_alto {
  height: 38px !important;
  min-height: 30px !important;
}
.etiqlargas {
  height: 25px !important;
  min-height: 10px !important;
  width: 28%;
}
.headline {
  margin-left: 11px;
}

.main-header .md-secondary-navigation a:hover,
.main-header .md-secondary-navigation a:focus,
.main-header .md-secondary-navigation a:active {
  color: #000000;
  background: transparent;
  text-decoration: underline;
}
.login-section .headline,
.register-section .headline,
.checkout-login .headline {
  padding-top: 25px ;
}
.alert-danger {
  margin-bottom: 30px;
}
.titulo--ser-rel {
  font-family: Helvetica;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px;
  margin-top: 0;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  font-weight: 700;
  text-shadow: 0 0 0 #000;
  font-size: 1.6em;
}
.ser-rel,
.titulo--ser-rel {
  border-bottom: 1px solid #d0d0d0;
}
.ser-rel svg.flecha-1 {
  stroke: #ea8795;
  fill: #ea8795;
}
.titulo-caja--ser-rel,
span.pasos {
  font-weight: 700;
  font-family: Helvetica;
}
span.pasos {
  padding: 1px 22px;
  display: block;
  font-size: 2.3em;
  float: left;
  margin-right: 13px;
  position: relative;
  color: #949494;
  border-style: dashed;
  border-width: 2px 2px 0;
  border-radius: 6px;
}
span.paso--dos,
span.paso--tres,
span.paso--uno {
  top: 10px;
}
.titulo-caja--ser-rel,
span.pasos {
  font-weight: 700;
  font-family: Helvetica;
}
.titulo-caja--ser-rel {
  font-size: 1.25em;
  color: #999;
  padding-bottom: 5px;
  border-bottom: 9px solid;
  padding-top: 12px;
  margin-bottom: 0;
}
.color-sr1 {
  border-color: #ea8795;
}
.pasoClase1,
.pasoClase2,
.pasoClase3 {
  height: 50px;
  padding: 0px;
  color: #666;
  line-height: 30px;
}
.color-sr1 {
  border-color: #ea8795;
}
.caja--ser-rel {
  width: 94%;
  display: block;
  float: left;
  padding: 20px;
  height: auto;
  border-style: dashed;
  border-width: 1px;
  background-color: #fff;
  margin-left: 17px;
}
.form-control--ser-rel {
  display: block;
  width: 100%;
  height: 53.5px;
  padding: 0 14px;
  font-size: 1em;
  color: #333;
  border: 3px solid #bfbfbf;
  background: #fff;
}
.color-sr2 {
  border-color: #bebe73;
}
.color-sr3 {
  border-color: #66bce9;
}
.boder_section_cdu {
  border: 1px dashed #66bce9;
}
.imgagen_tran:hover {
  animation-name: colores;
  /*animation-name: colores;*/
  animation-duration: 5s;
  /*cuanto tiempo va a durar*/
  animation-iteration-count: initial;
  /*que se repita la animación cuando acabe*/
}
@keyframes colores {
  /*from{background: #9EB3C2;}
	to{background: #1B3B6F; }*/
  0% {
    background: #9EB3C2;
  }
  25% {
    background: #1C7293;
    width: 100px;
  }
  50% {
    background: #043A53;
    width: 120px;
  }
  75% {
    background: #1B3B6F;
    width: 100px;
  }
  100% {
    background: #9EB3C2;
    width: 90px;
  }
}
.new_tab {
  color: #000 !important;
  font-size: 20px ;
}
.nav .new_tab:active {
  color: #104d83 !important;
  font-size: 23px ;
}
.nav .new_tab:focus {
  color: #043A53;
  font-size: 40px ;
}
.new_active:hover {
  color: #043A53;
  background: #E0F8F7 !important;
}
.new_active.active {
  color: #156ab5 !important;
}
.new_active {
  color: #000 !important;
}

@media (max-width: 1025px) {
  .container_new {
    padding-top: 24%;
  }
  .login-section {
    padding-top: 0px;
    margin-top: -20px;
  }
  .container_new_page {
    margin-top: -5px;
  }
  .container_menu {
    margin-top: -50px;
  }
  header {
    position: fixed;
    z-index: 100;
    width: 100%;
    margin-bottom: 1px;
  }
  
  .color-sr1,.color-sr2, .color-sr3 {
    font-size: 13px;
}
span.pasos {
    font-size: 27px;
}
}
@media (min-width: 321px) and (max-width: 769px) {
  .container_new {
    padding-top: 15%;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: normal !important;
  }
  .tableident,
  .tableangrav {
    width: 27% !important;
    text-align: center !important;
  }
  .tablenombre,
  .tabledenomi {
    width: 50% !important;
  }
  .tablefechas {
    width: 90% !important;
    text-align: center !important;
  }
  .offcanvas .sticky-nav-top {
    width: 60%;
  }
  .navigation--bottom .nav__links--products {
    max-width: 100%;
    height: auto;
    margin-left: -15px;
    margin-right: -15px;
    width: 60%;
    display: block;
    justify-content: center;
    padding-left: 25px;
    padding-right: 5px;
    margin-bottom: 0;
  }
  .navigation--bottom .nav__links--products li a {
    font-size: 12px;
  }
  
  .navigation--bottom .navigation__overflow {

    height: auto !important;

}

 .navigation--bottom {
 background-color: transparent;
  }

}
@media (max-width: 320px) {
  .container_new {
    padding-top: 30%;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: normal !important;
  }
  .tableident,
  .tableangrav {
    width: 27% !important;
    text-align: center !important;
  }
  .tablenombre,
  .tabledenomi {
    width: 50% !important;
  }
  .tablefechas {
    width: 90% !important;
    text-align: center !important;
  }
  .offcanvas .sticky-nav-top {
    width: 100%;
  }
  .navigation--bottom .nav__links--products {
    max-width: 100%;
    height: auto;
    margin-left: -15px;
    margin-right: -15px;
    /*     width: 90%; */
    width: 90%;
    display: block;
    justify-content: center;
    padding-left: 25px;
    padding-right: 5px;
    margin-bottom: 0;
    background: #000;
  }
  .navigation--bottom .nav__links--products li {
    background-color: #0b0e12;
    border-bottom: 1px solid #cecaca;
    font-size: 12px;
  }
  .navigation--bottom {
 background-color: transparent;
  }
  .navigation--bottom .nav__links--products li a {
    font-size: 12px;
  }
  .navigation--bottom .nav__links--products .nav__links--secondary {
    display: block;
    background: #182029;
    position: absolute;
    z-index: 1000;
    left: 0;
    border: 1px solid #e7e7e7;
    border-top: 0;
    padding: 0 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    
     position: fixed;
    z-index: 100;
    width: 100%;
    margin-bottom: 1px;
  }


  .navigation--bottom .navigation__overflow {

    height: auto !important;;

}


}

.tamnew{
width:70% !important;
height: 30px !important;
}

.tam_button{
width:50% !important;
}


/*Estilos para escuela virtual*/
.jumbotron {
	background: #960505;
	font-color: #ffffff !important;
}

.trespasos {
	background: #fbd7bf !important;
	padding: 5px 5px;
}

.jumbotron p {
	font-size: 20px;
	font-weight: 300;
	color: #fff;
}

.newtitle {
	color: #fff;
}

.card_esc {
	border: 1px solid #156ab5 !important;
	background: none;
	font-size: 14 px !important;
	padding: 2px 7px;
	margin-bottom: 5px !important;
	display: inline-block;
	width: 100%;
	margin-right: 5px !important;
}

.center {
	text-align: center;
}

.card-img-top {
	width: 100%;
	height: 315;
}

.card-title:hover {
	background: #5a0741;
	color: #fff;
}

.download-link {
	text-decoration: none;
	border: 1px solid #ccc;
	padding: .5em;
	font-family: Helvetica;
	color: #c00;
	display: block;
	text-align: center;
	margin: 1em 0;
}

.card-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
  margin: 5px 5px;
}
.trespasos_title {
  font-size: 48px;
  font-weight: 800;
}
.title_not {
  color: #ef7987;
}
.noticias {
  background: #c2ffae;
  padding: 5px 5px;
}
.noticia {
  border: 2px dashed #fff;
  margin-right: 10px;
  padding: 10px 10px;
}
.redes {
  width: 80%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.foot-esc {
  font-size: 12px;
  margin: 0px;
  text-align: center;
}
/*termina escuela virtual*/
.login-section {
  margin-left: 70px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 6px !important;
}
.form-group .newalto,
.newalto {
  height: 25px !important;
  min-height: 20px !important;
  padding: 1px 1px 1px 1px!important;
  min-width: 20% !important;
  max-width: 192px !important;
}
.form-group .new_alto,
.new_alto {
  height: 25px !important;
  min-height: 20px !important;
  padding: 1px !important;
    min-width: 30% !important;
  max-width: 192px !important;
}

.new_alto_anio {
  height: 25px !important;
  min-height: 20px !important;
  padding: 1px !important;
    min-width: 30% !important;
  max-width: 192px !important;
    width: 133px !important;
}


.btn {
	font-size: 14px !important;
}

.navigation__overflow {
	height: 60px !important;
}

.navigation--bottom ul.nav__links--products>li>span>a:hover,
	.navigation--bottom ul.nav__links--products>li>span>a:focus {
	background: transparent;
}

.navigation--bottom .nav__links--products .nav__links--secondary .sub-navigation-section .sub-navigation-list li a:hover,
.navigation--bottom .nav__links--products .nav__links--secondary .sub-navigation-section .sub-navigation-list li a:focus {
 background-color: #00ccff; 
}

.navigation--bottom .nav__links--products {
    height: 60px !important;
   
}

.navigation--bottom .nav__link {
    height: 60px;
}

.navigation--bottom .nav__links--products li a {
     height: 60px !important;
         padding: 13px 15px;
}

/*nuevos cambios en seccion menu tamaño*/
.navigation--bottom {
	width: 86% !important;
}

.breadcrumb-section {
	width: 86% !important;
}

.navigation--middle .nav__right {
	width: 89%;
}

.container {
	width: 82%;
}

.container_menu {
	width: 82%;
}

.container_new_page {
	width: 86%;
}

.delededucciones {
	width: 86%;
}

.tablefechas {
	width: 70px !important;
}

.lincostruc {
	width: 93% !important;
}

/*cambio de tamaño en los campos de ingreso del login*/
.form-group .tamnew,
.tamnew {
  height: 25px !important;
  min-height: 2px !important;
}

/*nuevos cambios en el menú hover y linea a las subopciones*/
.navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list li {
   border-bottom: 1px solid #ffffff;
}

.navigation--bottom .nav__link:hover{
    background: #56ace2;
}

.chkagent{
	margin:2px !important;
	}
.fomchk{
	margin:2px !important;
}

.container{
	margin-top:10px!important;
}

.navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list li:hover {
    background: #00ccff !important;
   
}

.form-group .alto,
.alto {
  height: 25px !important;
  min-height: 10px !important;
  min-width: 20% !important;
  max-width: 100% !important;
  width: 100% !important;
}

.sel_etiqlargas {
  height: 30px !important;
  min-height: 10px !important;
  width: 28%;
}
.etiq_valor{
  height: 25px !important;
  min-height: 20px !important;
  padding: 1px !important;
  min-width: 30% !important;
  max-width: 192px !important;
}

.label1Ver:hover, .labelVer:hover, .detalleVerCont:hover, .labelVerDetalle:hover, .labelVerDetalle:hover, .labelVerDetVeh:hover{
	text-decoration: underline !important;
	cursor: pointer !important;
	
}


.container_new_page {
	width: 82%;
}

.format_label {
  text-transform: none !important;
  font-weight: 400 !important;
}

.form-group .alto_select,
.alto_select {
  height: 25px !important;
  min-height: 10px !important;
  min-width: 20% !important;
  max-width: 200% !important;
  width: 103% !important;
  font-size: 10.9px !important;
  padding-left: 0px !important;
  padding-right: 1px !important;
  
}

.form-group .newalto_dir,
.newalto_dir{
  height: 25px !important;
  min-height: 20px !important;
  padding: 1px 1px 1px 1px!important;
  min-width: 20% !important;
  max-width: 101% !important;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/CARGANDO.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.hwomargin{
	margin-left: 0px !important;
}

.form-group .newaltobtn,
.newaltobtn {
  height: 25px !important;
  min-height: 20px !important;
  min-width: 20% !important;
  max-width: 192px !important;
  padding: 1px 1px 1px 1px!important;
  font-size: 11px !important;
  margin-top: 25px !important;

}

.tablesearch tbody tr td{
	font-size: 12px !important;
	  font-family:  'Helvetica', 'Arial', sans-serif !important;
	
	
}

.new_title {
  font-family: 'Alegreya Sans', 'Museo Sans Cond' !important;
  font-size: 28px !important;
  color: #E80B2C !important;
}

.container_new {
  padding-top: 25%;
}

.navigation--bottom{
background-color: #fff !important;
}
#accNavComponentDesktopOne ul.nav__links li a,
#accNavComponentDesktopTwo ul.nav__links li a {
  color: #000000;
}
.main-header .navigation.navigation--top{
	background-color: #fff !important;
}
.navigation--middle{
	background-color: #fff !important;
}

ul.nav__links li{
border: 0px !important;
color: #000 !important;
}

.main-header .navigation--bottom{
color: #000000 !important;
}



.navigation--bottom .nav__links--products li a{
	color: #E80B2C !important;
}
.navigation--bottom ul.nav__links--products > li > span > a {
	color: #E80B2C !important;
	font-weight: 750 !important;
}

.form-group .input-login {
     width: 220px; 
     height: 28px !important; 
     border: 1px solid #7070702C; 
   
     -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
     -ms-transform: skew(20deg);
     -o-transform: skew(20deg);
     transform: skew(-15deg);
}

input {
    min-height: 2px !important;
}

.pssword {
    color: #FFB71B !important;
}

.navigation--bottom ul.nav__links--products > li > span > a:hover{
background: #f2f2f2 !important;
}

.tam_button {
  background:#BFBFBF !important;
  color: #ffffff !important;
}

.navigation--bottom .show-sub .nav__link a:after {
    border-bottom: 0px;
}

.footer-left{
	border-bottom: 2px solid #E80B2C !important;
}

.main-footer .copyright .pop-over-toggle {
    background-color: #FFB71C;
    border-color: #FFB71C;
}

.navigation--bottom .nav__links--products {
  font-family: 'Alegreya Sans', 'Museo Sans Cond' !important;
  font-size: 28px !important;
  border-bottom: 1px solid #000000 !important;
}

header {

background: #ffffff !important;
}
